{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% include 'partials/_alertas.html' %}
<section class="row">
    <form class="col" action="{% url 'login_usuario' %}" id="cadastro_usario_form" method="POST">
        <h2 class="text-center">Acesse sua conta</h2>
        {% csrf_token %}
        {% for field in form_login.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field|add_class:'form-control'}}
            </div>
            {% for error in field.errors %}
                <section class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </section>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="ENTRAR" class="btn btn-success w-100">
    </form>
    <form class="col border-left" action="{% url 'cadastro_usuario' %}" id="cadastro_usario_form" method="POST">
        <h2 class="text-center">Quero me cadastrar</h2>
        {% csrf_token %}
        {% for field in form_cadastro.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field|add_class:'form-control'}}
            </div>
            {% for error in field.errors %}
                <section class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </section>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="CADASTRAR" class="btn btn-warning w-100 text-white">
    </form>
</section>

{% endblock %}