{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<section>
    <form action="{% url 'cria_cliente' %}" id="cliente_form" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group" id="id_{{field.label}}">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field|add_class:'form-control'}}
        </div>
        {% for error in field.errors %}
            <section class="alert alert-danger" role="alert">
                {{ field.errors }}
            </section>
        {% endfor %}
        {% endfor %}
        <input type="submit" value="Ok" class="btn btn-success">
    </form>
</section>
{% endblock %}