{% extends "base.html" %}
{% block content %}
    <section>
        <table class="table mt-4">
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">CEP</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Operações</th>
            {% if clientes %}
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome_cliente }}</td>
                    <td>{{ cliente.endereco }}</td>
                    <td>{{ cliente.bairro }}</td>
                    <td>{{ cliente.cidade }}</td>
                    <td>{{ cliente.cep }}</td>
                    <td>{{ cliente.cnpj }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
        <div class="container">
            {% if clientes.has_other_pages %}
                <ul class="pagination">
                    {% if clientes.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ clientes.previous_page_number }}" class="page-link">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for pagina in clientes.paginator.page_range %}
                        {% if clientes.number ==  pagina %}
                        <li class="page-item active">
                            <a class="page-link">{{ pagina }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{pagina}}" class="page-link">{{ pagina }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% if clientes.has_next %}           
                        <li class="page-item">
                            <a href="?page={{ clientes.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <a href="{% url 'cadastro_clientes' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastrar novo cliente</a>
    </section>
{% endblock %}
