{% extends "base.html" %}
{% load  static %}
{% block content %}
    <section>
        
            <div class="product-show">
                <div class="row align-items-center">
                    
                    <div class="product-content col">
                        <h1>{{produto.nome_produto}}</h1>
                        <img src="{{ produto.foto_produto.url }}" alt="foto-produto" style="width: 650px; height: 500px; object-fit: cover;">
                    </div>
                    <div class="product-desc col">
                        <h6>{{ produto.preco|stringformat:".2f" }}</h6>
                        <h6>Descrição: {{ produto.descricao }}</h6>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        </div>    
    </section>
{% endblock %}
