{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/geral.js' %}"></script>
    {{ form.media }}
    <title>Cadastros</title>
</head>
<body>
    <div class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light container">
            <a class="navbar-brand" href="{% url 'index' %}">Minha logo</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><img src="{% static 'img/lupa.png' %}" alt=""></button>
                      </form>
                  </li>
                </ul>
                <div class="dropdown">
                    <button class="btn" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <img src="{% static 'img/user.png' %}" alt=""> Entrar
                      </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Meus Pedidos</a>
                        <a class="dropdown-item" href="#">Endereços</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'lista_clientes' %}">Clientes</a>
                        <a class="dropdown-item" href="{% url 'lista_produtos' %}">Produtos</a>
                    </div>
                </div>
                <button class="btn my-2 my-sm-0" type="submit"><img src="{% static 'img/cart.png' %}" alt=""></button>
              </div>
        </nav>
    </div>
    <section class="container my-2">
        {% block content %}{% endblock %}
    </section>
    <div id="footer" class="bg-light fixed-bottom">
        <footer class="py-3 mb-0">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">teste</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">teste</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">teste</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">teste</a>
                </li>
            </ul>
            <p class="text-center text-muted">@ 2022 Company, Inc</p>
        </footer>
    </div>
</body>
</html>