html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 100px;
}
#conteudo{
  min-width: 90%;
  min-height: 100%;
  position: relative;
  background-color: #FAFAFB;
}
.nav-item{
    margin: 0 10px 0 10px
}
footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    --bs-bg-opacity: 1;
    margin-top: auto;
}
section{
    margin: 15px 0 15px 0;
}
.product-area {
    position: relative;
    z-index: 1;
    padding-bottom: 50px; }
  
  .single-product-area {
    width: 100%;
    background-color: white;
    padding: 10px;
    max-width: 268px;
    position: relative;
    z-index: 1; 
    transition: box-shadow 200ms ease 0s;
    box-shadow: rgba(12, 12, 17, 0.075) 0px 0px 1px, rgba(56, 57, 68, 0.089) 0px 0.5px 2px;
  }
    .single-product-area:hover{
      box-shadow: rgb(40 41 61 / 8%) 0px 0px 10px, rgba(96, 97, 112, 0.205) 0px 5px 8px;
    }
    .single-product-area img {
      width: 350px;
      height: 230px;
      object-fit: cover;}
    .single-product-area a{
      text-decoration: none;
      color: black;
    }
    .single-product-area a:hover{
      text-decoration: none;
      color: black;
    }
    .single-product-area .product-content {
      padding-top: 5px;
      text-align: left; }
    .single-product-area .product-content button {
        width: 100%; }
      .single-product-area .product-content h5 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 400;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-product-area .product-content h5:hover, .single-product-area .product-content h5:focus {
          text-decoration: none; }
      .single-product-area .product-content .ratings i {
        font-size: 11px;
        display: inline-block;
        padding: 0 1px; }