html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
html{
    height: 100%;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 100px;
}
#conteudo{
  min-width: 90%;
  min-height: 100%;
  position: relative;
  background-color: #FAFAFB;
}
.nav-item{
    margin: 0 10px 0 10px
}
footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    --bs-bg-opacity: 1;
    margin-top: auto;
}
section{
    margin: 15px 0 15px 0;
}
.push-web-notification {
  display: flex;
  position: absolute;
  width: 100%;
  height: 152px;
  left: 0;
  top: 50px;
  background: #ffffff;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.02);
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  transition: linear 200ms;
}
@media screen and (min-width: 640px){
  .push-web-notification {
      position: fixed;
      width: 460px;
      top: 55px;
      left: 50%;
      transform: translateX(-50%);
  }
}
.push-web-notification .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.push-text{
  height: 100%;
  left: 6.67%;
  right: 6.67%;
  top: calc(50% - 48px/2 - 220px);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.7px;
  padding-bottom: 1rem;
}
.push-text span{
  display: block;
}
.push-button{
  display: flex;
  justify-content: flex-end;
}
.push-button button{
  color: #ba75e2;
  border: #fff;
  background-color: #fff;
  font-family: opensans,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  font-weight: 600;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  border-radius: 0.125rem;
  cursor: pointer;
  padding: 0 15px;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}
.push-button .ativar{
  color: #fff;
  border: #fff;
  background-color: #ba75e2;
  padding: 0 15px;
  margin-left: 17px;
}
.product-area {
    position: relative;
    z-index: 1;
    padding-bottom: 50px; }
  
  .single-product-area {
    width: 100%;
    background-color: white;
    padding: 10px;
    max-width: 268px;
    position: relative;
    z-index: 1; 
    transition: box-shadow 200ms ease 0s;
    box-shadow: rgba(12, 12, 17, 0.075) 0px 0px 1px, rgba(56, 57, 68, 0.089) 0px 0.5px 2px;
  }
    .single-product-area:hover{
      box-shadow: rgb(40 41 61 / 8%) 0px 0px 10px, rgba(96, 97, 112, 0.205) 0px 5px 8px;
    }
    .single-product-area img {
      width: 350px;
      height: 230px;
      object-fit: cover;}
    .single-product-area a{
      text-decoration: none;
      color: black;
    }
    .single-product-area a:hover{
      text-decoration: none;
      color: black;
    }
    .single-product-area .product-content {
      padding-top: 5px;
      text-align: left; }
    .single-product-area .product-content button {
        width: 100%; }
      .single-product-area .product-content h5 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 400;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-product-area .product-content h5:hover, .single-product-area .product-content h5:focus {
          text-decoration: none; }
      .single-product-area .product-content .ratings i {
        font-size: 11px;
        display: inline-block;
        padding: 0 1px; }